page-credits {

  .box {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(105,105,105, 0.16);
    padding: 10px 20px;
    width: calc( 50% - 20px );
  }

  .box-large {
    width: 100%;
  }

  .titleCredits {
    padding: 5px 20px 0px 20px;
  }

  h3 {
    font-weight: normal;
    font-size: 16px;
    color: #3156A6;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .box p {
    font-size: 12px;
    color: #A1ABB7;
  }

  a {
    font-size: 12px;
    color: #3156A6;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

  .box + .box {
    margin-top: 40px;
  }

  #content #contentView {
    padding-bottom: 45px;
  }

}
