<ion-header translucent [ngClass]="config.getFontSizeClass()">
  <ion-toolbar mode="md">
    <ion-title>{{'P_SETTING_DELETE_DOWNLOADS' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) ="dismissModal()">
        <span class="header-btn">
          <ion-icon name="close-outline"></ion-icon>
          <label>
            {{ 'P_SETTING_DELETE_MODAL_CLOSE' | translate }}
          </label>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [ngClass]="config.getFontSizeClass()">
  <ion-segment mode="md" color="dark" (ionChange)="onLangSelectedChange($event)" [value]="langSelected">
    <ion-segment-button value="fr">
      <ion-label>{{'P_SETTING_FR' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="en">
      <ion-label>{{'P_SETTING_EN' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="clearance-wrapper" *ngIf="!downloadedList || downloadedList.length === 0">
    <ion-text color="medium">
      <p class="ion-padding">
        {{ 'P_SETTING_DELETE_MODAL_NODATA' | translate }} {{langSelected === 'en' ? ('P_SETTING_EN' | translate) : ('P_SETTING_FR' | translate)}}
      </p>
    </ion-text>
  </div>
  <ion-list *ngIf="downloadedList && downloadedList.length > 0">
    <ion-item lines="full">
      <ion-checkbox color="danger" slot="start" [(ngModel)]="isSelectAll" (ngModelChange)="toggleSelectAll($event)">
      </ion-checkbox>
      <ion-label>
        {{'P_SETTING_DELETE_MODAL_SELECTALL' | translate}}
      </ion-label>

      <ion-button slot="end" color="danger" fill="clear" *ngIf="deleteList.length > 0" (click)="clearList()">{{'P_SETTING_DELETE_MODAL_DELETE' | translate}}</ion-button>
      <!-- <ion-button slot="end" *ngIf="deleteList.length > 0" (click)="cancelClear()">{{'P_SETTING_DELETE_MODAL_CANCEL' | translate}}</ion-button> -->
    </ion-item>
    <ion-item-group *ngFor="let city of cities">
      <ion-item-divider>
        <ion-label>{{ city.name }}</ion-label>
      </ion-item-divider>

      <ion-item-group *ngFor="let parcour of downloaded[city.id].parcoursList">
        <span class="list-item">
          <ion-item lines="full" *ngIf="parcour">
            <ion-checkbox color="danger"  slot="start" [(ngModel)]="parcour.isChecked" (ngModelChange)="toggleCheck($event, 'parcours', city.id, parcour)"></ion-checkbox>
            <ion-label>{{ parcour.title && parcour.title[langSelected] }}</ion-label>
            <div class="round-icon">
              <span aria-hidden="true"
                class="icon icon-parcours"
                [attr.alt]="'PBC_ALT_PARCOURS' | translate">
              </span>
            </div>
          </ion-item>
        </span>
        <span class="list-item" *ngFor="let place of downloaded[city.id].placesList">
          <ion-item  lines="full" *ngIf="place && place.parcours_id === parcour.id">
            <ion-checkbox color="danger"  slot="start" [(ngModel)]="place.isChecked" (ngModelChange)="toggleCheck($event, 'places', city.id, place)"></ion-checkbox>
            <ion-label>{{ place.title && place.title[langSelected] }}</ion-label>
            <div class="round-icon">
              <span aria-hidden="true"
                class="icon icon-places"
                [attr.alt]="'PBC_ALT_PS' | translate">
              </span>
            </div>
          </ion-item>
        </span>
      </ion-item-group>
      <span *ngFor="let place of downloaded[city.id].placesList">
        <ion-item lines="full" *ngIf="place && (!downloaded[city.id].parcours || !downloaded[city.id].parcours[place.parcours_id])">
          <ion-checkbox color="danger"  slot="start" [(ngModel)]="place.isChecked" (ngModelChange)="toggleCheck($event, 'places', city.id, place)"></ion-checkbox>
          <ion-label>{{ place.title && place.title[langSelected] }}</ion-label>
          <div class="round-icon">
            <span aria-hidden="true"
              class="icon icon-places"
              [attr.alt]="'PBC_ALT_PS' | translate">
            </span>
          </div>
        </ion-item>
      </span>
    </ion-item-group>
  </ion-list>
</ion-content>
