:host {
  ion-title, ion-item {
    font-size: 1.1em;
  }

  ion-segement {
    ion-segment-button {
      --color-checked: black;
    }
  }

  ion-checkbox {
    position:relative;
  }

  .clearance-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-icon {
      font-size: 1.5rem;
    }
    label {
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  .item-place {
    font-size: 0.9em;
    &.item-group {
      padding-left: 16px;
    }
  }

  .round-icon {
    background-color: #929090;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    .icon {
      background-repeat: no-repeat;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #929090;
      width: 17px;
      height: 17px;
    }
    .icon-parcours {
      background-image: url('../../../assets/imgs/parcours-list/icon_parcours.svg');
    }
    .icon-places {
      background-image: url('../../../assets/imgs/parcours-list/icon_poi_white.svg');
    }
  }
}