:host {
  ion-list-header, ion-item, ion-label {
    font-size: 1em;
  }

  ion-icon {
    font-size: 1.5em;
  }

  .label-sm {
    font-size: 10px !important;
  }
  .label-lg {
    font-size: 18px !important;
  }

  .icon-label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brand-image {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    .img-st {
      background-image: url('../../../assets/imgs/icon_svg/st_settings.svg');
      background-repeat: no-repeat;
      width: 80%;
      height: 50px;
    }
  }

}
