<main-header [withBackButton]="true">
  {{ 'PAGE_NAME_SETTINGS' | translate }}
</main-header>

<main-content>
  <!-- SETTING LANGUAGE -->
  <ion-list class="ion-padding-bottom">
    <ion-list-header lines="full">
      {{ 'P_SETTING_LANGUAGE' | translate }}
    </ion-list-header>
    <ion-item class="ion-text-center" lines="full">
      <ion-label>{{ 'P_SETTING_FR' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="isEnglish" (ionChange)="updateLanguage()"></ion-toggle>
      <ion-label>{{ 'P_SETTING_EN' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- SETTING THEME -->
  <ion-list class="ion-padding-bottom">
    <ion-list-header lines="full">
      {{ 'P_SETTING_FONT_SIZE' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-range
        (ionChange)="config.updateFontSize()"
        [(ngModel)]="config.parameters.fontSize"
        min="0"
        max="8"
        step="1"
        snaps
        color="success">
        <ion-label slot="start" class="label-sm">A</ion-label>
        <ion-label slot="end" class="label-lg">A</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

  <!-- <ion-list class="ion-padding-bottom">
    <ion-list-header lines="full">
      {{ 'P_SETTING_THEME' | translate }}
    </ion-list-header>

    <ion-item class="ion-text-center" lines="full">
      <ion-label class="icon-label">
        <ion-icon name="sunny" color="dark"></ion-icon>
        <label>
          {{ 'P_SETTING_THEME_DAY' | translate }}
        </label>
      </ion-label>
      <ion-toggle></ion-toggle>
      <ion-label class="icon-label">
        <ion-icon name="moon" color="dark"></ion-icon>
        <label>
          {{ 'P_SETTING_THEME_NIGHT' | translate }}
        </label>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list class="ion-padding-bottom">
    <ion-list-header lines="full">
      {{ 'P_SETTING_APP_DATA' | translate }}
    </ion-list-header>
    <ion-item lines="full" (click)="showClearanceModal()">
      <ion-label color="danger">
        {{ 'P_SETTING_DELETE_DOWNLOADS' | translate }}
      </ion-label>
      <ion-icon slot="end" color="danger" name="trash"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="clearCache()">
      <ion-label color="danger">
        {{ 'P_SETTING_DELETE_CACHE' | translate }}
      </ion-label>
      <ion-icon slot="end" color="danger" name="reload"></ion-icon>
    </ion-item>
  </ion-list>
  <!-- <button class="sts-button" (click)="showClearanceModal()" >{{ 'P_SETTING_DELETE' | translate }}</button>
  <button class="sts-button" (click)="clearCache()">{{'P_SETTING_DELETE_CACHE' | translate}}</button> -->

  <!-- BRAND -->

  <ion-list class="ion-align-self-end">
    <ion-item class="ion-text-center" lines="none">
      <ion-label class="brand-image">
        <div class="img-st"></div>
      </ion-label>
    </ion-item>
  </ion-list>
</main-content>
