<div class="playerAudioComponent">

  <!-- PLAYER MAIN ACTIONS -->
  <ul class="actionsList">
    <!-- ACTION FAST LEFT -->
    <li class="actionItem actionItemFastLeft">
      <button class="actionBtn"
              (click)="actionFastLeft()"
              tabindex="0" [attr.aria-label]="translate.getKey('PLAYER_ACTION_FAST_LEFT')">
        <span aria-hidden="true" class="icon tiny icon-action-fast-left"></span>
      </button>
    </li>

    <!-- ACTION AUDIO STATE -->
    <li class="actionItem actionItemPause">
      <button id="actionBtnState" class="actionBtn" tabindex="1"
              [attr.aria-label]="translate.getKey('PLAYER_ACTION_STATE')"
              [attr.aria-pressed]="isPlaying"
              (click)="updateActionState()">
        <span aria-hidden="true" class="icon big"></span>
      </button>
    </li>

    <!-- ACTION FAST RIGHT -->
    <li class="actionItem actionItemFastRight">
      <button class="actionBtn"
              (click)="actionFastRight()"
              tabindex="2" [attr.aria-label]="translate.getKey('PLAYER_ACTION_FAST_RIGHT')">
        <span aria-hidden="true" class="icon tiny icon-action-fast-right"></span>
      </button>
    </li>
  </ul>

  <!-- PLAYER DURATION BAR -->
  <div class="durationBarContent">
    <ion-range
      [(ngModel)]="durationCurrent"
      (ngModelChange)="onModelDurationChange($event)"
      [min]="duration.track.min"
      [max]="duration.track.max"
    ></ion-range>
  </div>

  <!-- PLAUER TIMER -->
  <div class="playerDuration">
    <div class="durationCurrent">
      <label class="durationValue">
        {{ duration.current }}
      </label>
    </div>
    <div class="durationLeft">
      <label class="durationValue">
        {{ duration.full }}
      </label>
    </div>
  </div>

</div>
