<main-header [withBackButton]="true" [withMenu]="true">
  {{ translate.fromApi(config.getLanguage(), city.title) }}
</main-header>

<ion-content>

  <div class='parcoursListContent'>
    <div id='map' #map class='map'>
      <box-map
        [citiesCoords]="city.geoloc"
      ></box-map>
    </div>

    <div [ngClass]="contentListClass">

      <!-- DARK SELECT BOX -->
      <div class='darkSelectBox'>
        <h3>
          <label [ngClass]="selectTargetParcours"
                 (click)="onChangeSelectedTarget({'checked': false}, true)">
            {{ translate.getKey('PBC_ALT_PARCOURS') }}
          </label>
        </h3>

        <div class='switchGroup'>
          <button class="switchName">
            <ion-icon
              aria-hidden="true"
              class='openMenuItems'
              [name]="currentOpenIcon()" (click)="openContentList()"></ion-icon>
          </button>
          <ion-toggle [(ngModel)]="selectedTarget" (ionChange)="onChangeSelectedTarget($event)"></ion-toggle>
        </div>

        <h3>
          <label [ngClass]="selectTargetPoints"
                 (click)="onChangeSelectedTarget({'checked': true}, true)">
            {{ translate.getKey('PBC_ALT_POI') }}
          </label>
        </h3>
      </div>
      <!-- ./ DARK SELECT BOX -->

      <!-- OPTIONS ITEMS SORT -->
      <div class='optionsItemsSort'>
        <button class='arrowIcon left' (click)="changeOptionList('prev')" id="btnSortItemNext">
          <ion-icon aria-hidden="true" focusable="false" name="ios-arrow-back"></ion-icon>
        </button>

        <ul class='optionsList'>
          <li [ngClass]="optionsItemClasse(item.id)" *ngFor="let item of otpionsItems">
            <label class='optionName'>
              {{ item.name }}
            </label>
          </li>
        </ul>

        <button class='arrowIcon right' (click)="changeOptionList('next')" id="btnSortItemNext">
          <ion-icon aria-hidden="true" focusable="false" name="ios-arrow-forward"></ion-icon>
        </button>
      </div>
      <!-- ./ OPTIONS ITEMS SORT -->

      <!-- ITEMS LIST : RENDERING PARCOURS-->
      <ul class='list' *ngIf="selectedTarget === false">
        <li *ngFor="let parcour of sortItems(parcours)">
          <parcours-list-item
            (click)="onClickItem()"
            target="parcours"
            color="{{ parcour.color }}"
            [audioURI]="translate.fromApi(config.getLanguage(), parcour.audio) === '' ? '' : api.getAssetsUri(translate.fromApi(config.getLanguage(), parcour.audio))"
            [isOpenDiscover]="false"
            openId="{{ parcour.id }}"
            parcourTotalInterets="{{ getTotalInterestsByParcourId(parcour.id) }}"
            parcourTime="{{ translate.fromApi(config.getLanguage(), parcour.time) }}"
            previewTitle="{{ translate.fromApi(config.getLanguage(), parcour.title) }}"
            previewDescription="{{ translate.fromApi(config.getLanguage(), parcour.description) }}">
          </parcours-list-item>
        </li>
      </ul>
      <!-- ./ ITEMS LIST -->

      <!-- ITEMS LIST : RENDERING INTERETS -->
      <ul class='list' *ngIf="selectedTarget === true">
        <li *ngFor="let interest of sortItems(interests)">
          <parcours-list-item
            (click)="onClickItem()"
            target="interests"
            color='#336699'
            [audioURI]="translate.fromApi(config.getLanguage(), interest.audio) === '' ? '' : api.getAssetsUri(translate.fromApi(config.getLanguage(), interest.audio))"
            [isOpenDiscover]="false"
            openId="{{ interest.id }}"
            interestAddress="{{ translate.fromApi(config.getLanguage(), interest.address) }}"
            previewTitle="{{ translate.fromApi(config.getLanguage(), interest.title) }}"
            previewDescription="{{ translate.fromApi(config.getLanguage(), interest.audio_script) }}">
          </parcours-list-item>
        </li>
      </ul>
      <!-- ./ ITEMS LIST -->
    </div>
  </div>

</ion-content>
