<main-header [withMenu]="true" [withBackButton] = "true">
  {{ city && city.title[filterLang] }}
</main-header>

<main-content>
  <div class="city-page-content" *ngIf="city">
    <div class='map' [ngClass]="{'isClose': isListOpen}">
      <box-map
        [filterLang]="filterLang"
        [cityCoords]="city.geoloc"
        [cityId]="city.id"
        [isClose]="isListOpen"
        [curPositionUser]="curPositionUser"
        [placesList]="places"
        [parcoursList]="parcours"
        [selectedTarget]="selectedTarget"
        [selectedItemId]="selectedItemId"
        (selectMapItem)="onSelectItem($event)">
      </box-map>
    </div>

    <div class="content-list" [ngClass]="{'isOpen': isListOpen }">
      <!-- DARK SELECT BOX -->
      <div class='select-box'>

        <button class="btnUpAndDown" [attr.title]="'PAGE_PBC_BTN_HIDE_MAP' | translate">
          <ion-icon
            aria-hidden="true"
            class='openMenuItems'
            [name]="isListOpen ? 'chevron-down': 'chevron-up'" (click)="openContentList()">
          </ion-icon>
        </button>

        <ul class="switch__target__list">
          <!-- BTN PARCOURS -->
          <li class="item">
            <button class="item__btn item__btn--left"
                    [attr.title]="'PAGE_PBC_BTN_SHOW_PARCOURS' | translate"
                    [attr.aria-pressed]="selectedTarget === 'parcours'"
                    [ngClass]="{'isSelected': selectedTarget === 'parcours'}"
                    (click)="onChangeSelectedTarget('parcours')">
              <label>
                {{ 'PBC_ALT_PARCOURS' | translate}}
              </label>
            </button>
          </li>
          <!-- BTN POINT D INTERET -->
          <li class="item">
            <button class="item__btn item__btn--right"
                    [attr.title]="'PAGE_PBC_BTN_SHOW_LANDMARK' | translate"
                    [attr.aria-pressed]="selectedTarget === 'places'"
                    [ngClass]="{'isSelected': selectedTarget === 'places'}"
                    (click)="onChangeSelectedTarget('places')">
              <label>
                {{ 'PBC_ALT_POI' | translate }}
              </label>
            </button>
          </li>
        </ul>

      </div>
      <!-- ./ DARK SELECT BOX -->

      <!-- OPTIONS ITEMS SORT -->
      <div class="options__items__sort">
        <ul>
          <li [ngClass]="{'isSelected': isOptionsActionSelected('alpha')}">
            <button type='button' (click)="changeOptionListAction('alpha')"
                    [attr.title]=" 'PLI_FILTER_ALPHA_TITLE' | translate "
                    [attr.aria-pressed]="isOptionsActionSelected('alpha')">
              {{'PLI_FILTER_ALPHA' | translate}}
            </button>
          </li>
          <li *ngIf="isConnected" [ngClass]="{'isSelected': isOptionsActionSelected('proximite')}">
            <button type='button' (click)="changeOptionListAction('proximite')"
                    [attr.title]=" 'PLI_FILTER_PROXIMITE_TITLE' | translate "
                    [attr.aria-pressed]="isOptionsActionSelected('proximite')">
              {{ 'PLI_FILTER_PROXIMITE' | translate }}
            </button>
          </li>
        </ul>
      </div>
      <!-- ./ OPTIONS ITEMS SORT -->
      <ion-list *ngIf="selectedTarget === 'parcours'">
        <ion-item class="ion-no-padding" *ngFor="let parcour of parcours" lines="full" [id]="parcour.id">
          <list-item
            target="parcours"
            [filterLang]="filterLang"
            [item]="parcour"
            [focusId]="('parcours-' + parcour.id)"
            [geoloc]="city.geoloc"
            [curPositionUser]="curPositionUser"
            [selectedItemId]="selectedItemId"
            [sortOrder]="optionsItems[optionsItemsSelected]"
            [cityName]="city.title[filterLang]"
            [cityId]="city.id"
            [placesList]="getPlacesByParcoursId(parcour.id)"
            (selectListItem)="onSelectItem($event)">
          </list-item>
        </ion-item>
        <ion-text color="medium">
          <p *ngIf="!parcours || (parcours && parcours.length === 0)" class="ion-text-center ion-padding">
            {{ 'PBC_NO_DATA_AVAILABLE_PARCOURS' | translate: {city: city.title[filterLang], lang: filterLang === 'en' ? 'english' : 'français'} }}
          </p>
        </ion-text>
      </ion-list>
      <ion-list *ngIf="selectedTarget === 'places'">
        <ion-item class="ion-no-padding" *ngFor="let place of places" lines="full" [id]="place.id">
          <list-item
            target="places"
            [filterLang]="filterLang"
            [item]="place"
            [focusId]="('place-' + place.id)"
            [geoloc]="city.geoloc"
            [curPositionUser]="curPositionUser"
            [selectedItemId]="selectedItemId"
            [sortOrder]="optionsItems[optionsItemsSelected]"
            [cityName]="city.title[filterLang]"
            [cityId]="city.id"
            [placesList]="getPlacesById(place.id)">
          </list-item>
        </ion-item>
        <ion-text color="medium">
          <p *ngIf="!places || (places && places.length === 0)" class="ion-text-center ion-padding">
            {{ 'PBC_NO_DATA_AVAILABLE_INTERESTS' | translate: {city: city.title[filterLang], lang: filterLang === 'en' ? 'english' : 'français'} }}
          </p>
        </ion-text>
      </ion-list>
    </div>
  </div>
</main-content>
