page-home {

  .main__title {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.8em;
    margin: 0;
  }

  .currentLg {
    width: 100%;
    margin: 25px 20px 0px 20px;

    label {
      font-weight: bold;
      font-size: 1.3em;
      color: grey;
    }

    .activeLg {
      color: black !important;
    }
  }
  .list__cities__item__select__lg {
    background-color: transparent !important;

    #hiddenSelectLg {
      display: none;
    }

    .ul__select__lg {
      list-style: none;
      margin: 0;
      padding: 0 6px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;

      .lg__item {

        &__btn {
          width: 100%;
          height: 40px;
          border-radius: 20px;
          border: 1px solid black;
          background-color: white;
          text-transform: uppercase;
          font-size: 1.1em;
          transition: 0.4s;
          display: flex;
          align-items: center;
          justify-content: center;

          &[aria-checked="true"] {
            background-color: black;
            color: white;

            ion-icon {
              padding-right: 5px;
            }
          }
        }
      }
    }
  }


  .listOfCities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 5px 25px 5px;
    align-items: flex-end;
    padding: 0 0 25px 0;

    .item {
      width: calc(50% - 10px);
      height: 100px;
      margin: 0px 5px 20px 5px;
      background-size: cover;
      background-color: dimgrey;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .itemTitle {
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 1.3em;
      }
    }

    .itemSelectLg {
      background-color: transparent !important;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height: auto;

      .switch {
        padding-bottom: 5px;
      }
      .homePageTitle {
        text-transform: uppercase;
        font-weight: bold;
        flex-grow: 1;
        padding: 5px 0;
        display: flex;
        flex-direction: column;

        h1 {
          margin: 0;
          font-size: initial;
          display: inline-grid;

          .bigTitle {
            font-size: 16px;
          }
          .smallTitle {
            font-size: 1.3em;
          }
        }
      }
    }
  }

  .install__banner {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 5px;
    justify-content: center;
  }
}


.list__cities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 5px 25px 5px;
  align-items: flex-end;
  padding: 0 0 25px 0;
  list-style: none;

  &__item {
    width: calc(50% - 10px);
    height: 100px;
    margin: 0px 5px 20px 5px;
    background-color: dimgrey;
    background-position: center;
    background-size: cover;

    &__a {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-size: cover;
      text-decoration: none;

      &__label {
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 1.3em;
      }
    }
  }
}

.itemSelectLg {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: auto;

  .switch {
    padding-bottom: 5px;
  }

  h1 {
    margin: 0;
    font-size: initial;
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
    padding: 5px 0;
    display: flex;
    flex-direction: column;

    .bigTitle {
      font-size: 16px;
    }
    .smallTitle {
      font-size: 1.3em;
    }
  }
}
