page-settings {

  .settingsList {
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    .settingItem {
      display: flex;
      flex-direction: column;
      margin: 0 0 30px 0;

      .title {
        color: black;
        padding: 5px;
        font-size: 1em;
        text-transform: uppercase;
      }

      .content.contentCol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .content {
        padding: 10px 0;
        border-top: 1px solid #BDC3C7;
        border-bottom: 1px solid #BDC3C7;
        background-color: white;

        label {
          font-size: 1em;
          padding: 0 15px;
        }
      }

    }
  }

  .settingItem.languageBlock {

  }

  .settingItem.fontSizeBlock {
    .letterOne {
      font-size: 0.8em !important;
    }
    .letterTwo {
      font-size: 1.5em !important;
    }
    .rangeFontSize {
      padding: 0 !important;

      .item-inner {
        border-bottom: none !important;
        padding: 0 !important;
      }
    }
  }

  .settingItem.themeBlock {
    .labelIcon {
      font-size: 3em;
    }
  }

  .settingItem.brandBlcok {
    .brandName {
      color: black;
      font-size: 1.2em;
      letter-spacing: 2px;
      font-weight:bold;
      display: block;
      text-align: center;
      padding: 10px 0;
      text-transform: uppercase;
    }
  }

  .st-settings {
    margin: 15px 10% 0 10%;
    padding: 10%;
  }

}
