<div class='parcoursListItem' id="search-content">
  <div class='leftIconColor' [ngStyle]="{'background-color': color}">
    <span *ngIf="target === 'parcours'"
          aria-hidden="true"
          class="icon icon-parcours"
          [attr.alt]="translate.getKey('PBC_ALT_PARCOURS')"></span>
    <span *ngIf="target === 'interests'"
          aria-hidden="true"
          class="icon icon-poi"
          [attr.alt]="translate.getKey('PBC_ALT_POI')"></span>
  </div>
  <div class='content'>
    <div class='contentPreview'>
      <button type="button"class='info' (click)="updateDiscoverStateOrOpen()" [attr.aria-expanded]="isOpenDiscover">
        <h1>{{ previewTitle }}</h1>
        <ul class="infoParcours" *ngIf="target === 'parcours'">
          <li>
            <label>{{ parcourTotalInterets }}</label>
            <span aria-hidden="true" class="icon-poi" [attr.alt]="translate.getKey('PBC_ALT_POI')"></span>
          </li>
          <li>
            <label><span class="spanDot">.</span> {{ parcourTime }}</label>
          </li>
          <li>
            <label><span class="spanDot">.</span> à 1k (10min)</label>
          </li>
        </ul>

        <ul class="infoParcours" *ngIf="target === 'interests'">
          <li>
            <label>{{ interestAddress }}</label>
          </li>
        </ul>
      </button>

      <button type="button" class='btnDownload'>
        <span class='icon icon-download'></span>
        <label>
          {{ translate.getKey('PLI_ACTION_DOWNLOAD_DATA') }}
        </label>
      </button>
    </div>

    <div class="contentDiscover" [attr.aria-hidden]="! isOpenDiscover">

      <div class='content'>
        <p>
          {{ previewDescription }}
        </p>
      </div>

      <div class='playerAudio'>
        <player-audio
          [audioURI]="audioURI"
          [playerUUID]="('player__audio') + openId"
          [loadPlayer]="isOpenDiscover"></player-audio>
      </div>

      <div class='footer'>
        <button type="button"
          *ngIf="target === 'parcours' && parcourTotalInterets > 0"
          (click)="openNext()"
          class='btnStart' [ngStyle]="{'background-color': color}">
          {{ translate.getKey('PLI_LIST_START_PARCOURS') }}
        </button>
        <button type="button"
          *ngIf="target === 'interests'"
          (click)="openNext()"
          class='btnStart' [ngStyle]="{'background-color': color}">
          {{ translate.getKey('PLI_LIST_START_POI') }}
        </button>
      </div>

    </div>
  </div>
</div>
