.parcoursListItem:nth-child(odd) {
  background-color: #E2DFDF;
}

.parcoursListItem:nth-child(even) {
  background-color: #F6F3F4;
}

.parcoursListItem {
  min-height: 70px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .leftIconColor {
    width: 45px;
    min-width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      background-color: black;
      width: 25px;
      height: 25px;
    }
  }

  .leftIconColor.blue {
    background-color: blue;
  }
  .leftIconColor.red {
    background-color: red;
  }
  .leftIconColor.yellow {
    background-color: yellow;
  }


  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    .contentDiscover.isOpen {
      display: flex;
    }

    .contentDiscover {
      display: none;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 15px;

      .content {
        margin: 0 0 10px 0;
      }

      .playerAudio {
        margin: 0 0 10px 0;
      }

      .footer {

        .btnStart {
          width: 100%;
          height: 46px;
          color: white;
          border-radius: 23px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .contentPreview {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 70px;
      min-height: 70px;

      .info {
        flex: 1;
        padding: 10px;

        h1 {
          margin: 0;
          font-size: 18px;
        }

        label {
          font-size: 11px;
        }
      }

      .btnDownload {
        width: 86px;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        .icon {
          background-image: url('../../assets/imgs/icon_svg/download.svg');
          width: 25px;
          height: 25px;
          margin: 3px 0;
        }

        label {
          font-size: 11px;
        }
      }
    }
  }

}
