/**
  THEME DAY
 */
.theme.day {
  background-color: #FFFFFF;
}

/**
  THEME NIGHT
 */
.theme.night {
  background-color: #D2D7D3;
}

.fontSize0 {  font-size: 10px; }
.fontSize1 {  font-size: 11px; }
.fontSize2 {  font-size: 12px; }
.fontSize3 {  font-size: 13px; }
.fontSize4 {  font-size: 14px; }
.fontSize5 {  font-size: 15px; }
.fontSize6 {  font-size: 16px; }
.fontSize7{  font-size: 17px; }
.fontSize8 {  font-size: 18px; }

/**
  RIGHT NAV BAR
 */
.rightNavBar {
  .menu-inner {
    width: 150px;
    background-color: black;
  }

  ion-toolbar {
    div, button {
      background-color: #000000 !important;
      color: white !important;
    }
  }

  ion-content {
    background-color: #000000;

    .scroll-content {
      overflow-y: hidden;
    }

    .itemsList {
      display: flex;
      flex-direction: column;
      color: #FFFFFF;

      .item {
        display: flex;
        flex-direction: column;
        padding: 20px 0 5px 0;

        .icon-block {
          display: flex;
          justify-content: center;

          .icon {
            width: 35px;
            height: 35px;
            background-repeat: no-repeat;
          }

          .fixIconPos {
            margin-left: 10px;
          }
        }

        .title {
          font-size: 1em;
          text-transform: uppercase;
          text-align: center;
          padding: 13px 0;

          label {

          }
        }
      }
    }
  }
}

.icon-settings {
  background-image: url('/assets/imgs/icon_svg/settings.svg');
}
.icon-photo {
  background-image: url('/assets/imgs/icon_svg/photo.svg');
}
.icon-send-position {
  background-image: url('/assets/imgs/icon_svg/fanion.svg');
}
.icon-credits {
  background-image: url('/assets/imgs/icon_svg/credits.svg');
}

