<!-- <ion-item class="ion-no-padding" lines="full">

</ion-item> -->

<div class='parcoursListItem' id="search-content" [ngClass]="isDone()">

  <div class="mainContent">
    <div class='leftIconColor'>

      <div class="roundIcon" [ngStyle]="{'background-color': item.color}">
        <span *ngIf="target === 'parcours'"
          aria-hidden="true"
          class="icon icon-parcours"
          [attr.alt]="'PBC_ALT_PARCOURS' | translate">
        </span>
        <span *ngIf="target === 'places'"
          aria-hidden="true"
          class="icon icon-poi"
          [attr.alt]="'PBC_ALT_POI' | translate">
        </span>
      </div>
    </div>

    <div class='contentRight'>
      <div class='contentPreview' [ngClass]="config.getFontSizeClass()">
        <button type="button" class='info' [attr.id]="focusId"
                (click)="selectItem()"
                [attr.title]="'COMP_PLI_BTN_SHOW_PREVIEW' | translate">
          <h1>{{ item.title[translate.currentLang] }}</h1>
          <ul class="infoParcours" *ngIf="target === 'parcours'">
            <li>
              <label class="labelToLeft">{{ placesList.length }}</label>
              <span aria-hidden="true" class="icon-poi" [attr.alt]="PLI_ICON_LANDMARK | translate"></span>
            </li>
            <li>
              <span class="spanWithDotInside">&#xB7;</span>
              <label>
                {{ item.time[translate.currentLang] }}
              </label>
            </li>
            <li *ngIf="isShowTimeToObj">
              <span class="spanWithDotInside">&#xB7;</span>
              <label>
                {{ 'PLI_DISTANCE_PREFIX'| translate }} {{ timeToObj }}
              </label>
            </li>
          </ul>

          <ul class="infoParcours" *ngIf="target === 'places'">
            <li>
              <label class="labelToLeft">{{ item.address[translate.currentLang] }}</label>
            </li>
          </ul>

          <ul class="infoParcours infoParcoursLandmarks" *ngIf="target === 'places'">
            <li>
              <label class="labelToLeft">{{ item.schedule[translate.currentLang] }}</label>
            </li>
            <li *ngIf="isShowTimeToObj">
              <span class="spanWithDotInside">&#xB7;</span>
              <label>
                {{ 'PLI_DISTANCE_PREFIX'| translate }} {{ timeToObj }}
              </label>
            </li>
          </ul>
        </button>

        <!-- <button *ngIf="isItemDownloadable"
                type="button" class='btnDownload'
                [ngClass]="canBeDownloadCls()"
                [attr.title]="getDownloadBtnTitle()"
                (click)="downloadItem()">
          <span class='icon icon-download stateFalse'>
            <ion-icon name="arrow-round-down"></ion-icon>
          </span>
          <span class='icon icon-download stateTrue'>
            <ion-icon name="checkmark"></ion-icon>
          </span>
          <label [innerHTML]="'PLI_ACTION_DOWNLOAD_DATA' | translate">
          </label>
        </button> -->
      </div>
    </div>
  </div>


  <!-- CONTENT DISCOVER -->
  <div class="contentDiscover" [ngClass]="config.getFontSizeClass()"  *ngIf="target === 'parcours' && isOpenDiscover()">
    <div class='content'>
      <!-- <p [innerHTML]="data.bbCodeToHtml(previewDescription)">
      </p> -->
    </div>

    <div class='playerAudio'>
      <!-- <player-audio
        [isNetworkOff]="isNetworkOff"
        [isDownloaded]="isDownloaded"
        [audioURI]="audioURI"
        [playerUUID]="('player__audio') + openId"
        [audioScript]="audioScript"
        [target]="target"
        [uuid]="openId"
        [loadPlayer]="isOpenDiscover"></player-audio> -->
    </div>
    <div class='footer'>
      <button
        [attr.title]="'PLI_LIST_START_PARCOURS' | translate"
        type="button"
        *ngIf="placesList.length > 0"
        (click)="navigateToPlace()"
        class='btnStart' [ngStyle]="{'background-color': color}">
        {{ 'PLI_LIST_START_PARCOURS' | translate }}
      </button>
    </div>
  </div>
</div>

