<main-header [withMenu]="true">
  {{ 'PAGE_NAME_HOME' | translate }}
</main-header>

<ion-content class="theme main-content">
  <h2 class="main__title">
    {{'PAGE_NAME_HOME' | translate }}
  </h2>

  <!-- LIST ALL CITIES -->
  <ul class="list__cities">

    <!-- SELECT LANGUAGE TOGGLE -->
    <li class="list__cities__item list__cities__item__select__lg">
      <ul class="ul__select__lg">
        <li class="lg__item">
          <button
            aria-controls="otps__lg--fr"
            class="lg__item__btn"
            (click)="updateLanguage('fr')"
            [attr.aria-pressed]="translate.currentLang === 'fr'"
            [attr.aria-checked]="translate.currentLang === 'fr'">
            <ion-icon aria-hidden="true" name="checkmark-outline" *ngIf="translate.currentLang === 'fr'"></ion-icon>
            <span>{{ 'P_SETTING_FR' | translate }}</span>
          </button>
        </li>
        <li class="lg__item">
          <button
            aria-controls="otps__lg--en"
            class="lg__item__btn"
            (click)="updateLanguage('en')"
            [attr.aria-pressed]="translate.currentLang === 'en'"
            [attr.aria-checked]="translate.currentLang === 'en'">
            <ion-icon aria-hidden="true" name="checkmark-outline" *ngIf="translate.currentLang === 'en'"></ion-icon>
            <span>{{ 'P_SETTING_EN' | translate }}</span>
          </button>
        </li>
      </ul>

    </li>
    <!-- .\ SELECT LANGUAGE TOGGLE -->

    <li class="list__cities__item"
        *ngFor="let city of listCities"
        [style.backgroundImage]="'url(' + api.getAssetsUri(city.image) + ')'"
        alt=""
    >
      <a class="list__cities__item__a"
        (click)="viewCity($event, city)">
        <label class="list__cities__item__a__label">
        {{ city.title[translate.currentLang] }}
        </label>
      </a>
    </li>
  </ul>
  <!-- ./ LIST ALL CITIES -->
</ion-content>