<main-header [withBackButton]="true">
  {{ translate.fromApi(config.getLanguage(), city.title) }}
</main-header>

<ion-content>

  <div class='parcoursListContent'>
    <div id='map' #map class='map'></div>

    <div [ngClass]="contentListClass">

      <!-- DARK SELECT BOX -->
      <div class='darkSelectBox'>
        <label [ngClass]="selectTargetParcours"
               (click)="onChangeSelectedTarget({'checked': false}, true)">Parcours</label>
        <div class='switchGroup'>
          <label class="switchName">
            <ion-icon
              class='openMenuItems'
              [name]="currentOpenIcon()" (click)="openContentList()"></ion-icon>
          </label>
          <ion-toggle [(ngModel)]="selectedTarget" (ionChange)="onChangeSelectedTarget($event)"></ion-toggle>
        </div>
        <label [ngClass]="selectTargetPoints"
               (click)="onChangeSelectedTarget({'checked': true}, true)">Points d'intérêts</label>
      </div>
      <!-- ./ DARK SELECT BOX -->

      <!-- OPTIONS ITEMS SORT -->
      <div class='optionsItemsSort'>
        <div class='arrowIcon left' (click)="changeOptionList('prev')">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </div>
        <ul class='optionsList'>

          <li [ngClass]="optionsItemClasse(item.id)" *ngFor="let item of otpionsItems">
            <label class='optionName'>
              {{ item.name }}
            </label>
          </li>
        </ul>

        <div class='arrowIcon right' (click)="changeOptionList('next')">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
      </div>
      <!-- ./ OPTIONS ITEMS SORT -->

      <!-- ITEMS LIST : RENDERING PARCOURS-->
      <div class='list' *ngIf="selectedTarget === false">
        <parcours-list-item
          (click)="onClickItem()"
          *ngFor="let parcour of sortItems(parcours)"
          target="parcours"
          color="{{ parcour.color }}"
          [isOpenDiscover]="false"
          openId="{{ parcour.id }}"
          parcourTotalInterets="{{ getTotalInterestsByParcourId(parcour.id) }}"
          parcourTime="{{ translate.fromApi(config.getLanguage(), parcour.time) }}"
          previewTitle="{{ translate.fromApi(config.getLanguage(), parcour.title) }}"
          previewDescription="{{ translate.fromApi(config.getLanguage(), parcour.description) }}"></parcours-list-item>
      </div>
      <!-- ./ ITEMS LIST -->

      <!-- ITEMS LIST : RENDERING INTERETS -->
      <div class='list' *ngIf="selectedTarget === true">
        <parcours-list-item
          (click)="onClickItem()"
          *ngFor="let interest of sortItems(interests)"
          target="interests"
          color='#336699'
          [isOpenDiscover]="false"
          openId="{{ interest.id }}"
          interestAddress="{{ translate.fromApi(config.getLanguage(), interest.address) }}"
          previewTitle="{{ translate.fromApi(config.getLanguage(), interest.title) }}"
          previewDescription="{{ translate.fromApi(config.getLanguage(), interest.audio_script) }}"></parcours-list-item>
      </div>
      <!-- ./ ITEMS LIST -->
    </div>
  </div>

</ion-content>
