:host {
  .header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-icon {
      font-size: 1.5rem;
    }
    label {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
  ion-title {
    font-size: 1.1em;
    text-transform: uppercase;
  }
}


