<ion-header mode="md" [ngClass]="config.getFontSizeClass()">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="withBackButton">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-button fill="clear" color="dark" (click)="goBack()">
        <span class="header-btn">
          <ion-icon name="chevron-back-outline"></ion-icon>
          <label>
            {{ 'COMP_MH_GO_BACK' | translate }}
          </label>
        </span>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ng-content></ng-content>
    </ion-title>
    <ion-buttons slot="end" *ngIf="withMenu">
      <ion-menu-button>
        <span class="header-btn" >
          <ion-icon name="menu-outline"></ion-icon>
          <label>
            MENU
          </label>
        </span>
      </ion-menu-button>
      <!-- <ion-button fill="clear" color="dark">
        <span class="header-btn" >
          <ion-icon name="menu-outline"></ion-icon>
          <label class="backLabel">
            MENU
          </label>
        </span>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
