.app-root-ios {
  main-header {
    height: $mainHeaderHeight + $cordova-ios-statusbar-padding;

    ion-header {
      margin-top: $cordova-ios-statusbar-padding;
    }
  }
}

.app-root-md {
  main-header {
    height: $mainHeaderHeight;

    ion-header {
      padding-top: initial !important;
    }
  }
}

main-header {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100vw;
  background-color: #f8f8f8;

  ion-header {
    height: 46px;
    min-height: 46px !important;

    ion-navbar {
      height: 46px;
      min-height: 46px !important;
    }
  }

  .toolbar-ios ion-title {
    position: initial !important;
    width: auto !important;
    height: auto !important;
    overflow: hidden;
  }
}

.menuBtnRight {
  color: black;
  height: auto !important;
  .button-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-icon {
      padding: 0 0 0 0 !important;
    }
    label {
      padding: 0 5px 0 0 !important;
      font-size: 12px;
    }
  }
}
.platform-ios .menuBtnRight label {
  margin-top: -5px !important;
}

/**
* Back button style
*/

.backBtnLeft {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 0 0 9px;
  .backIcon {
    font-size: 2.4rem;
  }
  .backLabel {
    font-size: 10px;
    text-transform: uppercase;
  }
}
.navBarContent {
  display: flex;
  flex-direction: row;
}
