<main-header [withBackButton]="true" [withMenu]="true" class="unsetWithCarousel">
  {{ pageName }}
</main-header>

<ion-content>
  <div
    alt=""
    class="poi__header"
    [style.backgroundImage]="'url(' + api.getAssetsUri(getData('header_image')) + ')'">
  </div>

  <div class="poi__info">
    <i aria-hidden="true" class="poi__marker"></i>

    <h1 class="poi__info--title">
      {{ getData('title', true) }}
    </h1>
    <h2 class="poi__info--subtitle">
      {{ getData('address', true) }}
    </h2>

    <button class='poi__info__btn poi__info__btn--L'
            [attr.alt]="translate.getKey('PLI_BTN_PREV_ALT')"
            *ngIf="showMoveBtn('prev')"
            (click)="onClickMoveList('prev')">
      <ion-icon aria-hidden="true" name="ios-arrow-back"></ion-icon>
    </button>

    <button class='poi__info__btn poi__info__btn--R'
            [attr.alt]="translate.getKey('PLI_BTN_NEXT_ALT')"
            *ngIf="showMoveBtn('next')"
            (click)="onClickMoveList('next')">
      <ion-icon aria-hidden="true" name="ios-arrow-forward"></ion-icon>
    </button>
  </div>

  <!-- HELP LIST -->
  <ul class="help__list">

    <!-- ITEM -->
    <li class="help__list__item">
      <button id="btn_information" class="item__button"
              aria-expanded="false"
              (click)="onClickSetHelpItemActive('btn_information')">
        <span focusable="false" aria-hidden="true" class="icon icon-info"></span>
        <label>
          {{ sliceStr(getData('schedule', true), 30) }}
          <br /> {{ sliceStr(getData('price', true), 30) }}
        </label>
      </button>
    </li>

    <!-- ITEM -->
    <li class="help__list__item">
      <button id="btn_navigation" class="item__button"
              aria-expanded="false"
              (click)="onClickSetHelpItemActive('btn_navigation')">
        <span focusable="false" aria-hidden="true" class="icon icon-navigation"></span>
        <label>{{ translate.getKey('PLI_VAL_ITINERARY') }}</label>
      </button>
    </li>
  </ul>
  <!-- ./ HELP LIST -->

  <div class="helpContent" [ngClass]="getHelpItemActive(null, true)">

    <div class="helpContentClose">
      <button class="btnCloseHelpContent" (click)="onClickSetHelpItemActive(null)">
        <label class="headerTitle">
          {{ translate.getKey('RIGHT_MENU_CLOSE') }}
        </label>
        <ion-icon aria-hidden=“true“ name="close"></ion-icon>
      </button>
    </div>

    <div class="helpItem helpContentInformation" [ngClass]="getHelpItemActive('btn_information')">
      <ul class="hciList">
        <!-- INFO DATE -->
        <li class="hciItem">
          <div class="icon">
            <span class="icon icon-date"></span>
          </div>
          <label>
            {{ getData('schedule', true) }}
          </label>
        </li>
        <!-- INFO PRICE -->
        <li class="hciItem">
          <div class="icon">
            <span class="icon icon-clock"></span>
          </div>
          <label>
            {{ getData('price', true) }}
          </label>
        </li>
        <!-- BTN SUBMIT PROBLEM -->
        <li class="hciItem">
          <button class="poi__end__btn poi__end__btn--TransparentAndBlack" (click)="btnReportProblem()">
            {{ translate.getKey('PLI_BTN_SEND_PB') }}
          </button>
        </li>
      </ul>
    </div>

    <div class="helpItem helpContentNavigation" [ngClass]="getHelpItemActive('btn_navigation')">

      <!-- NAVIGATION INFORMATION -->
      <ul class="infoList">
        <!-- NAVIGATION ITEM -->
        <li class="infoItem">
          <div class="icon">
            <ion-icon aria-hidden="true" name="ios-walk-outline"></ion-icon>
          </div>
          <div class="info">
            <h1 class="info-title">
              Marcher 1,5km

              <span>15 min</span>
            </h1>
            <h2 class="info-subtitle">
              47-83 Boulevard de l'Hôpital, 75013 Paris
            </h2>
          </div>
        </li>
        <!-- NAVIGATION ITEM -->
        <li class="infoItem">
          <div class="icon">
            <ion-icon aria-hidden="true" name="ios-walk-outline"></ion-icon>
          </div>
          <div class="info">
            <h1 class="info-title">
              Marcher 1,5km
            </h1>
            <h2 class="info-subtitle">
              47-83 Boulevard de l'Hôpital, 75013 Paris
            </h2>
          </div>
        </li>
        <!-- NAVIGATION ITEM -->
      </ul>

      <!-- ./ NAVIGATION INFORMATION -->

      <!-- MAP -->
      <div class="navigation-map">
        <img src="../../assets/imgs/fake_map.png" alt="">
      </div>

      <!-- TRANSPORT -->
      <ul class="infoList">
        <li class="infoItem">
          <div class="icon">
            <ion-icon aria-hidden="true" name="ios-subway-outline"></ion-icon>
          </div>
          <div class="info">
            <h1 class="info-title">
              Transports à proximité
            </h1>
            <h2 class="info-subtitle">
              RER C, Métro 5 et 10, Bus 63 et 24 Gare
              d’Austerlitz / Bus 63 et 89 Jardin des Plantes
            </h2>
          </div>
        </li>
      </ul>

      <button class="poi__end__btn poi__end__btn--TransparentAndBlack" (click)="btnReportProblem()">
        <label>{{ translate.getKey('PLI_BTN_OPEN_IN_NEW_APP') }}</label>
      </button>

    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="poi__main__content" *ngIf="!mainContentCls.isHidden">

    <section class="poi__section poi__section--isWhite section__player__audio">
      <player-audio
        [audioURI]="getData('audio', true) === '' ? '' : api.getAssetsUri(getData('audio', true))"
        [playerUUID]="('player__audio') + getData('id')"
        [loadPlayer]="true"></player-audio>
    </section>

    <section class="poi__section poi__section--isWhite section__bibliography">
      <button class="poi__end__btn poi__end__btn--OrangeAndWhite"  (click)="btnEndPointOfInterest()">
        {{ translate.getKey('PLI_BTN_END_POI') }}
      </button>
    </section>

    <!-- SECTION AUDIO SCRIPT -->
    <section class="poi__section poi__section--isGrey">
      <h3 id="titleAudioScript" class="poi__section__title">{{ translate.getKey('PLI_TAB_AUDIO_SCRIPT') }}</h3>
      <div class="poi__section__content">
        <p class="pJustified">
          {{getData('audio_script', true)}}
        </p>
      </div>
    </section>
    <!-- ./ SECTION AUDIO SCRIPT -->

    <!-- SECTION GALLERY -->
    <section class="poi__section poi__section--isWhite section__gallery_image">
      <h3 id="titleGalery" class="poi__section__title">{{ translate.getKey('PLI_TAB_GALLERY_IMAGE') }}</h3>
      <div class="poi__section__content">

        <carousel [images]="getGalleryImages()"></carousel>

      </div>
    </section>
    <!-- ./ SECTION GALLERY -->

    <!-- SECTION BIBLIOGRAPHY -->
    <section class="poi__section poi__section--isGrey section__bibliography">
      <h3 id="titleBibliography" class="poi__section__title">{{ translate.getKey('PLI_TAB_BIBLIOGRAPHY') }}</h3>

      <div class="poi__section__content">
        <div class="content__desc">
          <ul class="bibliography__list">
            <li class="bibliography__list__item" *ngFor="let itemDesc of getData('bibliography', true)">
              <p>{{ itemDesc }}</p>
            </li>
          </ul>
        </div>

        <button class="btn__share" (click)="btnShareRef()">
          <ion-icon aria-hidden="true" focusable="false"
                    name="ios-mail-outline" class="btn__share__icon"></ion-icon>
          <span class="btn__share__span">
            {{ translate.getKey('PLI_BTN_SHARE_REF') }}
          </span>
        </button>

      </div>
    </section>
    <!-- ./ SECTION BIBLIOGRAPHY -->

    <section class="poi__section poi__section--isWhite section__bibliography">
      <button class="poi__end__btn poi__end__btn--OrangeAndWhite"  (click)="btnEndPointOfInterest()">
        {{ translate.getKey('PLI_BTN_END_POI') }}
      </button>
    </section>

  </div>
</ion-content>

<footer *ngIf="!mainContentCls.isHidden" class="unsetWithCarousel">
  <ul class="footer__list">
    <li class="footer__list__item">
      <button class="item__button" (click)="scrollTo('titleAudioScript')">
        <i aria-hidden="true" class="item__button__icon item__button__icon--script-audio"></i>
        <label class="item__button__label">{{ translate.getKey('PLI_TAB_AUDIO_SCRIPT') }}</label>
      </button>
    </li>

    <li class="footer__list__item">
      <button class="item__button" (click)="scrollTo('titleGalery')">
        <i aria-hidden="true" class="item__button__icon item__button__icon--galery"></i>
        <label class="item__button__label">{{ translate.getKey('PLI_TAB_GALLERY_IMAGE') }}</label>
      </button>
    </li>

    <li class="footer__list__item">
      <button class="item__button" (click)="scrollTo('titleBibliography')">
        <i aria-hidden="true" class="item__button__icon item__button__icon--book"></i>
        <label class="item__button__label">{{ translate.getKey('PLI_TAB_BIBLIOGRAPHY') }}</label>
      </button>
    </li>
  </ul>
</footer>
