<main-header [withBackButton]="true" [withMenu]="true" class="unsetWithCarousel">
  {{ pageName }}
</main-header>

<ion-content [ngClass]="config.globalGlobalCss()" id="poiMainContent">
  <div alt="" class="poi__header" [style.background-image]="getCoverImage()">
    <!-- <img [attr.src]='_DomSanitizationService.bypassSecurityTrustUrl(getCoverPicture())' /> -->
  </div>

  <div class="poi__info">
    <i aria-hidden="true" class="poi__marker"></i>

    <div class="btnContainer">
      <button class='btnContainer__btn btnContainer__btn--left' [attr.title]="translate.getKey('PLI_BTN_PREV_ALT')" *ngIf="showMoveBtn('prev')"
              (click)="onClickMoveList('prev')">
        <ion-icon aria-hidden="true" name="ios-arrow-back"></ion-icon>
      </button>
    </div>

    <div class="infoContent">
      <h1 class="infoTitle">
        {{ getData('title', true) }}
      </h1>
      <h2 class="infoSubtitle">
        {{ getData('address', true) }}
      </h2>
    </div>

    <div class="btnContainer">
      <button class='btnContainer__btn btnContainer__btn--right' [attr.title]="translate.getKey('PLI_BTN_NEXT_ALT')" *ngIf="showMoveBtn('next')"
              (click)="onClickMoveList('next')">
        <ion-icon aria-hidden="true" name="ios-arrow-forward"></ion-icon>
      </button>
    </div>
  </div>

  <!-- HELP LIST -->
  <ul class="help__list">

    <!-- ITEM -->
    <li class="help__list__item">
      <button id="btn_information" class="item__button"
              [attr.title]="translate.getKey('PLI_BTN_INFORMATION')"
              aria-expanded="false" (click)="onClickSetHelpItemActive('btn_information')">
        <span focusable="false" aria-hidden="true" class="icon icon-info"></span>
        <label>
          {{ sliceStr(getData('schedule', true), 30) }}
          <br /> {{ sliceStr(getData('price', true), 30) }}
        </label>
      </button>
    </li>

    <!-- ITEM -->
    <li class="help__list__item">
      <button id="btn_navigation" class="item__button"
              [attr.title]="translate.getKey('PLI_BTN_NAVIGATION')"
              aria-expanded="false" (click)="openMapToLocation()">
        <span focusable="false" aria-hidden="true" class="icon icon-navigation"></span>
        <label>{{ translate.getKey('PLI_VAL_ITINERARY') }}</label>
      </button>
    </li>
  </ul>
  <!-- ./ HELP LIST -->

  <div class="helpContent" [ngClass]="getHelpItemActive(null, true)">

    <div class="helpContentClose">
      <button class="btnCloseHelpContent" (click)="onClickSetHelpItemActive(null)">
        <label class="headerTitle">
          {{ translate.getKey('RIGHT_MENU_CLOSE') }}
        </label>
        <ion-icon focusable="false" aria-hidden="true" aria-hidden=“true“ name="ios-close-circle-outline"></ion-icon>
      </button>
    </div>

    <div class="helpItem helpContentInformation" [ngClass]="getHelpItemActive('btn_information')">
      <ul class="hciList">
        <!-- INFO DATE -->
        <li class="hciItem">
          <div class="icon">
            <ion-icon focusable="false" aria-hidden="true" aria-hidden=“true“ name="ios-time-outline"></ion-icon>
          </div>
          <label>
            {{ getData('schedule', true) }}
          </label>
        </li>
        <!-- INFO PRICE -->
        <li class="hciItem">
          <div class="icon">
            <ion-icon focusable="false" aria-hidden="true" name="ios-warning-outline"></ion-icon>
          </div>
          <label>
            {{ getData('price', true) }}
          </label>
        </li>
        <!-- BTN SUBMIT PROBLEM -->
        <li class="hciItem">
          <button class="poi__end__btn poi__end__btn--TransparentAndBlack" (click)="btnReportProblem()">
            {{ translate.getKey('PLI_BTN_SEND_PB') }}
          </button>
        </li>
      </ul>
    </div>

  </div>


  <!-- MAIN CONTENT -->
  <div class="poi__main__content" [ngClass]="mainContentCls">

    <section class="poi__section poi__section--isWhite section__player__audio">
      <player-audio target="landmarks"
                    [audioURI]="audioUrl"
                    [playerUUID]="('player__audio') + getData('id')"
                    [uuid]="getData('id')"
                    [audioScript]="getData('audio_script', true)"
                    [showAudioScriptListener]="showAudioScriptListener.bind(this)"
                    [loadPlayer]="true"></player-audio>
    </section>



    <section class="poi__section poi__section--isWhite section__bibliography">
      <button class="poi__end__btn poi__end__btn--OrangeAndWhite"
              [ngClass]="isPOIIsDone()"
              [attr.title]="isPOIIsDone().isDoneBTN ? translate.getKey('PLI_BTN_END_POI_ATTR_TITLE_DONE') : translate.getKey('PLI_BTN_END_POI_ATTR_TITLE')"
              (click)="btnTogglePointOfInterest()">
        {{isPOIIsDone().isDoneBTN ? translate.getKey('PLI_BTN_END_POI_DONE') : translate.getKey('PLI_BTN_END_POI') }}
      </button>
    </section>

    <!-- SECTION AUDIO SCRIPT -->
    <section class="poi__section poi__section--isGrey" id="titleAudioScript" [ngClass]="{'hideSectionScriptAudio': ! showScriptAudioSection}">
      <div class="poi__section__content">
        <p class="pJustified" [innerHtml]="data.bbCodeToHtml(getData('audio_script', true))"></p>
      </div>
    </section>
    <!-- ./ SECTION AUDIO SCRIPT -->

    <!-- SECTION GALLERY -->
    <section class="poi__section poi__section--isWhite section__gallery_image">
      <h3 id="titleGalery" class="poi__section__title">{{ translate.getKey('PLI_TAB_GALLERY_IMAGE') }}</h3>

      <div class="poi__section__content poi__section__content__gallery" *ngIf="showGallery() == true">
        <ion-slides class="image-slider poi-slider" loop="false" [pager]="true">
          <ion-slide *ngFor="let img of gallery">
            <img [attr.src]='_DomSanitizationService.bypassSecurityTrustUrl(img)' class="thumb-img" imageViewer />
          </ion-slide>
        </ion-slides>
      </div>

      <div class="showGalleryNoNetwork" *ngIf="showGallery() == false">
        <p>
          {{ translate.getKey('GLOBAL_NEED_NETWORK_FOR_DATA') }}
        </p>
      </div>
    </section>
    <!-- ./ SECTION GALLERY -->

    <!-- SECTION BIBLIOGRAPHY -->
    <section class="poi__section poi__section--isGrey section__bibliography" *ngIf="showBiblio()">
      <h3 id="titleBibliography" class="poi__section__title">{{ translate.getKey('PLI_TAB_BIBLIOGRAPHY') }}</h3>

      <div class="poi__section__content">
        <div class="content__desc">
          <ul class="bibliography__list">
            <li class="bibliography__list__item" *ngFor="let itemDesc of getData('bibliography', true)">
              <p [innerHtml]="data.bbCodeToHtml(itemDesc)"></p>
            </li>
          </ul>
        </div>

        <button class="btn__share" (click)="btnShareRef()">
          <ion-icon aria-hidden="true" focusable="false" name="ios-mail-outline" class="btn__share__icon"></ion-icon>
          <span class="btn__share__span">
            {{ translate.getKey('PLI_BTN_SHARE_REF') }}
          </span>
        </button>

      </div>
    </section>
    <!-- ./ SECTION BIBLIOGRAPHY -->

    <section class="poi__section poi__section--isWhite section__bibliography">
      <button class="poi__end__btn poi__end__btn--OrangeAndWhite"
              [ngClass]="isPOIIsDone()"
              [attr.title]="isPOIIsDone().isDoneBTN ? translate.getKey('PLI_BTN_END_POI_ATTR_TITLE_DONE') : translate.getKey('PLI_BTN_END_POI_ATTR_TITLE')"
              (click)="btnTogglePointOfInterest()">
        {{isPOIIsDone().isDoneBTN ? translate.getKey('PLI_BTN_END_POI_DONE') : translate.getKey('PLI_BTN_END_POI') }}
      </button>
    </section>

  </div>
</ion-content>

<footer *ngIf="!mainContentCls.isHidden" class="unsetWithCarousel" [ngClass]="config.globalGlobalCss()">
  <ul class="footer__list">
    <li class="footer__list__item">
      <button class="item__button" (click)="scrollToScriptAudio()">
        <i aria-hidden="true" class="item__button__icon item__button__icon--script-audio"></i>
        <label class="item__button__label">{{ translate.getKey('PLI_TAB_AUDIO_SCRIPT') }}</label>
      </button>
    </li>

    <li class="footer__list__item">
      <button class="item__button" (click)="scrollTo('titleGalery')">
        <i aria-hidden="true" class="item__button__icon item__button__icon--galery"></i>
        <label class="item__button__label">{{ translate.getKey('PLI_TAB_GALLERY_IMAGE') }}</label>
      </button>
    </li>

    <li class="footer__list__item" *ngIf="showBiblio()">
      <button class="item__button" (click)="scrollTo('titleBibliography')">
        <i aria-hidden="true" class="item__button__icon item__button__icon--book"></i>
        <label class="item__button__label">{{ translate.getKey('PLI_TAB_BIBLIOGRAPHY') }}</label>
      </button>
    </li>
  </ul>
</footer>
