<main-header [withBackButton]="true" [withMenu]="true">
  {{ pageName }}
</main-header>

<ion-content>
  <div
    class="poi__header"
    [style.backgroundImage]="'url(' + api.getAssetsUri(getData('header_image')) + ')'">
  </div>

  <div class="poi__info">
    <h1 class="poi__info--title">
      {{ getData('title', true) }}
    </h1>
    <h2 class="poi__info--subtitle">
      {{ getData('address', true) }}
    </h2>

    <button class='poi__info__btn poi__info__btn--L' *ngIf="showMoveBtn('prev')" (click)="onClickMoveList('prev')">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>

    <button class='poi__info__btn poi__info__btn--R' *ngIf="showMoveBtn('next')" (click)="onClickMoveList('next')">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </div>
  <!-- HELP BUTTONS -->
  <div class="helpList">

    <div class="helpItem"
         data-target="information"
         [ngClass]="getHelpItemActive('information')"
         (click)="onClickSetHelpItemActive('information')">
      <span class="icon icon-info"></span>
      <label>
        {{ sliceStr(getData('schedule', true), 30) }}
        <br /> {{ sliceStr(getData('price', true), 30) }}
      </label>
    </div>

    <div class="helpItem"
         data-target="navigation"
         [ngClass]="getHelpItemActive('navigation')"
         (click)="onClickSetHelpItemActive('navigation')">
      <span class="icon icon-navigation"></span>
      <label>{{ translate.getKey('PLI_VAL_ITINERARY') }}</label>
    </div>
  </div>

  <div class="helpContent" [ngClass]="getHelpItemActive(null, true)">
    <div class="helpItem helpContentInformation" [ngClass]="getHelpItemActive('information')">
      <ul class="hciList">
        <!-- INFO DATE -->
        <li class="hciItem">
          <div class="icon">
            <span class="icon icon-date"></span>
          </div>
          <label>
            {{ getData('schedule', true) }}
          </label>
        </li>
        <!-- INFO PRICE -->
        <li class="hciItem">
          <div class="icon">
            <span class="icon icon-clock"></span>
          </div>
          <label>
            {{ getData('price', true) }}
          </label>
        </li>
        <!-- BTN SUBMIT PROBLEM -->
        <li class="hciItem">
          <button class="poi__end__btn poi__end__btn--TransparentAndBlack" (click)="btnReportProblem()">
            {{ translate.getKey('PLI_BTN_SEND_PB') }}
          </button>
        </li>
      </ul>
    </div>

    <div class="helpItem helpContentNavigation" [ngClass]="getHelpItemActive('navigation')">

      <!-- NAVIGATION INFORMATION -->
      <ul class="infoList">

        <!-- NAVIGATION ITEM -->
        <li class="infoItem">
          <div class="icon">
            <ion-icon name="ios-walk-outline"></ion-icon>
          </div>
          <div class="info">
            <h1 class="info-title">
              Marcher 1,5km

              <span>15 min</span>
            </h1>
            <h2 class="info-subtitle">
              47-83 Boulevard de l'Hôpital, 75013 Paris
            </h2>
          </div>
        </li>
        <!-- NAVIGATION ITEM -->
        <!-- NAVIGATION ITEM -->
        <li class="infoItem">
          <div class="icon">
            <ion-icon name="ios-walk-outline"></ion-icon>
          </div>
          <div class="info">
            <h1 class="info-title">
              Marcher 1,5km
            </h1>
            <h2 class="info-subtitle">
              47-83 Boulevard de l'Hôpital, 75013 Paris
            </h2>
          </div>
        </li>
        <!-- NAVIGATION ITEM -->
      </ul>

      <!-- ./ NAVIGATION INFORMATION -->

      <!-- MAP -->
      <div class="navigation-map">
        <img src="../../assets/imgs/fake_map.png">
      </div>

      <!-- TRANSPORT -->
      <ul class="infoList">
        <li class="infoItem">
          <div class="icon">
            <ion-icon name="ios-subway-outline"></ion-icon>
          </div>
          <div class="info">
            <h1 class="info-title">
              Transports à proximité
            </h1>
            <h2 class="info-subtitle">
              RER C, Métro 5 et 10, Bus 63 et 24 Gare
              d’Austerlitz / Bus 63 et 89 Jardin des Plantes
            </h2>
          </div>
        </li>
      </ul>

      <button class="poi__end__btn poi__end__btn--TransparentAndBlack" (click)="btnReportProblem()">
        {{ translate.getKey('PLI_BTN_OPEN_IN_NEW_APP') }}
      </button>

    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="poi__main__content" *ngIf="!mainContentCls.isHidden">

    <section class="poi__section poi__section--isWhite section__player__audio">
      <player-audio></player-audio>
    </section>

    <section class="poi__section poi__section--isWhite section__bibliography">
      <button class="poi__end__btn poi__end__btn--OrangeAndWhite"  (click)="btnEndPointOfInterest()">
        {{ translate.getKey('PLI_BTN_END_POI') }}
      </button>
    </section>

    <!-- SECTION AUDIO SCRIPT -->
    <section class="poi__section poi__section--iGrey">
      <h1 id="titleAudioScript" class="poi__section__title">{{ translate.getKey('PLI_TAB_AUDIO_SCRIPT') }}</h1>
      <div class="poi__section__content">
        <p>
          {{getData('audio_script', true)}}
        </p>
      </div>
    </section>
    <!-- ./ SECTION AUDIO SCRIPT -->

    <!-- SECTION GALLERY -->
    <section class="poi__section poi__section--isWhite section__gallery_image">
      <h1 id="titleGalery" class="poi__section__title">{{ translate.getKey('PLI_TAB_GALERY_IMAGE') }}</h1>
      <div class="poi__section__content">

        <ion-slides class="image-slider poi-slider" loop="true" slidesPerView="{{ getNbPicture() }}" pager="true">
          <ion-slide *ngFor="let img of getGalleryImages()">
            <img src="{{api.getAssetsUri(img)}}" class="thumb-img" imageViewer/>
          </ion-slide>
        </ion-slides>

      </div>
    </section>
    <!-- ./ SECTION GALLERY -->

    <!-- SECTION BIBLIOGRAPHY -->
    <section class="poi__section poi__section--iGrey section__bibliography">
      <h1 id="titleBibliography" class="poi__section__title">{{ translate.getKey('PLI_TAB_BIBLIOGRAPHY') }}</h1>
      <div class="poi__section__content">

        <div class="content__desc">
          <p>
            {{getData('bibliography', true)}}
          </p>
        </div>

        <button class="btn__share">
          <ion-icon name="ios-mail-outline" class="btn__share__icon"></ion-icon>
          <span class="btn__share__span">
            {{ translate.getKey('PLI_BTN_SHARE_REF') }}
          </span>
        </button>

      </div>
    </section>
    <!-- ./ SECTION BIBLIOGRAPHY -->

    <section class="poi__section poi__section--isWhite section__bibliography">
      <button class="poi__end__btn poi__end__btn--OrangeAndWhite"  (click)="btnEndPointOfInterest()">
        {{ translate.getKey('PLI_BTN_END_POI') }}
      </button>
    </section>

  </div>
</ion-content>

<footer *ngIf="!mainContentCls.isHidden">
  <div>
    <button class="footer__btn" (click)="scrollTo('titleAudioScript')">
      <div class="footer__btn__icon footer__btn__icon--script-audio"></div>
      <label class="footer__btn__label">{{ translate.getKey('PLI_TAB_AUDIO_SCRIPT') }}</label>
    </button>
  </div>

  <div>
    <button class="footer__btn" (click)="scrollTo('titleGalery')">
      <div class="footer__btn__icon footer__btn__icon--galery"></div>
      <label class="footer__btn__label">{{ translate.getKey('PLI_TAB_GALERY_IMAGE') }}</label>
    </button>
  </div>

  <div>
    <button class="footer__btn" (click)="scrollTo('titleBibliography')">
      <div class="footer__btn__icon footer__btn__icon--book"></div>
      <label class="footer__btn__label">{{ translate.getKey('PLI_TAB_BIBLIOGRAPHY') }}</label>
    </button>
  </div>
</footer>
