@import "leaflet";

box-map {
  width: 100%;
  height: 100%;
  background-color: black;

  .map_component {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;

    &__content {
      width: 100%;
      height: 100%;
      background-color: black;
    }

    .btn__geoloc {
      position: absolute;
      z-index: 999;
      bottom: 0;
      margin: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon__geoloc {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url('../assets/imgs/map/geolocalisation.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &--isLoading {
        .icon__geoloc {
          animation: spinning-circle 2s infinite linear;
        }
      }

      &--isLeft {
        left: 0;
      }

      &--isRight {
        right: 0;
      }
    }
  }

  .leaflet-control-attribution,
  .leaflet-control {
    display: none;
  }

  path {
    stroke-opacity: 0.8;
    stroke-width: 5px;
  }

  .cluster {
    position: absolute;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px 20px 20px 20px;
    font-size: 15px;
    top: -15px;
    left:-15px;
    z-index: 1007;
    min-width: 60px;
    min-height: 44px;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    div{
      display: inline-flex;
      align-items: center;
      margin-top: -6px;

      i.icon--clock {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        background-image: url("../assets/imgs/map/timer.svg");
      }

      span {

      }
    }
  }

}

@-webkit-keyframes spinning-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
